@{
    ViewData["Title"] = "Create Service Request";
}

<h2>Create Service Request</h2>

<div>
    <p>Здесь будет форма для создания запроса на обслуживание.</p>
    <!-- Форма и соответствующие поля ввода -->
</div>
