@model HomeViewModel
@{
    ViewData["Title"] = "Swift Ticket";
}

<h2>Swift Ticket</h2>
@if (Model.IsUserAuthenticated)
{
    <div>
        <h3>Service Catalog</h3>
        <ul>
            <li><a href="@Url.Action("CreateRequest", "Ticket")">Service Request - Click here to submit a service request.</a></li>
            <li><a href="@Url.Action("FindTicket", "Ticket")">Ticket Finder - Searching for a specific ticket? Click here to find it.</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a href="/Role/Index">Role Management - Click here to manage roles.</a></li>
            }
        </ul>
    </div>
}
else
{
    <p>Please <a href="@Url.Action("Login", "Account")">log in</a> to access the service catalog.</p>
}

