@{
    ViewData["Title"] = "Service Catalog";
}

<h2>Service Catalog</h2>

<ul>
    <li>
        <a href="@Url.Action("CreateRequest", "Ticket")">Service Request - Click here to submit a service request to iLS team on your site.</a>
    </li>
    <li>
        <a href="@Url.Action("FindTicket", "Ticket")">Ticket Finder - Searching for a specific ticket? Click here to find it.</a>
    </li>
</ul>
